In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [2]:
filelist = glob.glob("/win/Users/faust/Documents/TCC_MBA/ABM_Project/Results_temp/Multiple/*.csv")
len(filelist)

30

In [3]:
df = pd.DataFrame()
for file in filelist:
    df_temp = pd.read_csv(file)
    df = pd.concat([df, df_temp])

In [4]:
df.shape

(1027106, 30)

In [5]:
df.columns

Index(['agente', 'ag_tamanho', 'ag_investimento', 'ag_max_alpha',
       'ag_atratividade', 'factor', 'agente_alpha_ofertado', 'bid',
       'bid_number', 'estado', 'pop_alvo', 'pop_alvo_ratio', 'pj_tamanho',
       'pj_investimento', 'bid_alpha', 'outorga', 'run', 'reruns',
       'par_bid_alpha', 'par_std_alpha', 'par_atrat_avg', 'par_std_dev',
       'par_number_of_agents', 'par_max_alpha', 'par_atrat_lim',
       'par_distribution', 'par_reatividade', 'par_reruns', 'par_runs',
       'file_name'],
      dtype='object')

In [6]:
lista_reat = [0, 0.1, 0.2, 0.3, 0.4]
table_list = []
for reat in lista_reat:
    filt = (
         (df['agente'] == 'nobid')
        & (df['par_reatividade'] == reat)
    )

    dfx = df.loc[filt]
    line = dfx.pivot_table(index=['par_reatividade', 'run'], values='pop_alvo_ratio',
                          columns='file_name', aggfunc=np.sum).mean().tolist()
    table_list.append(line) 

df_final = pd.DataFrame(table_list, columns=[0.8, 0.9, 1.1, 1.2, 1.3, 1.0], index=lista_reat)
df_final.reindex(sorted(df_final.columns), axis=1).round(2)

      0.8   0.9   1.0   1.1   1.2   1.3
0.0  0.13  0.18  0.25  0.37  0.54  0.73
0.1  0.10  0.14  0.19  0.25  0.37  0.56
0.2  0.07  0.10  0.15  0.19  0.25  0.37
0.3  0.04  0.07  0.10  0.15  0.19  0.24
0.4  0.03  0.04  0.07  0.11  0.14  0.18

In [7]:
lista_reat = [0, 0.1, 0.2, 0.3, 0.4]
table_list = []
for reat in lista_reat:
    filt = (
#          (df['agente'] == 'nobid')
        (df['par_reatividade'] == reat)
    )

    dfx = df.loc[filt]
    line = dfx.pivot_table(index=['par_reatividade', 'run'], values='bid',
                          columns='file_name', aggfunc=np.sum).mean().tolist()
    table_list.append(line)

df_final = pd.DataFrame(table_list, columns=[0.8, 0.9, 1.1, 1.2, 1.3, 1.0], index=lista_reat)
df_final.reindex(sorted(df_final.columns), axis=1).round(2)

      0.8   0.9   1.0   1.1   1.2   1.3
0.0  0.91  0.91  0.86  0.76  0.58  0.35
0.1  0.94  0.95  0.93  0.90  0.79  0.58
0.2  0.97  0.98  0.98  0.97  0.96  0.85
0.3  0.99  1.02  1.03  1.04  1.06  1.07
0.4  1.00  1.04  1.07  1.11  1.16  1.21

In [8]:
lista_reat = [0, 0.1, 0.2, 0.3, 0.4]
table_list = []
for reat in lista_reat:
    filt = (
#          (df['agente'] == 'nobid')
        (df['par_reatividade'] == reat)
    )

    dfx = df.loc[filt]
    line = dfx.pivot_table(index=['par_reatividade', 'run'], values='bid',
                          columns='file_name', aggfunc='count').mean().tolist()
    table_list.append(line)
    
df_final = pd.DataFrame(table_list, columns=[0.8, 0.9, 1.1, 1.2, 1.3, 1.0], index=lista_reat)
df_final.reindex(sorted(df_final.columns), axis=1).round(2)

       0.8    0.9    1.0    1.1    1.2    1.3
0.0  25.00  25.00  25.00  25.00  25.00  25.00
0.1  30.86  31.80  33.30  36.40  40.50  44.91
0.2  31.05  32.01  33.51  36.58  40.62  44.91
0.3  31.30  32.26  33.65  36.77  40.85  44.98
0.4  31.34  32.47  33.90  37.07  40.89  45.17